<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuc.zxxk.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="com.nuc.zxxk.pojo.Class">
    <result column="classId" jdbcType="VARCHAR" property="classid" />
    <result column="className" jdbcType="VARCHAR" property="classname" />
    <result column="classTeacher" jdbcType="VARCHAR" property="classteacher" />
    <result column="classPeople" jdbcType="INTEGER" property="classpeople" />
    <result column="classweek" jdbcType="VARCHAR" property="classweek" />
    <result column="startTime" jdbcType="VARCHAR" property="starttime" />
    <result column="classHours" jdbcType="VARCHAR" property="classhours" />
    <result column="classCredit" jdbcType="INTEGER" property="classcredit" />
    <result column="classAddress" jdbcType="VARCHAR" property="classaddress" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>
  <select id="findAllClass" resultType="com.nuc.zxxk.pojo.Class" >
     select * from  `Class`
  </select>
  <update id="updateClassPeople" parameterType="String">
    update `Class` set classPeople=classPeople+1 where classId=#{classId}
  </update>
  <insert id="insert" parameterType="com.nuc.zxxk.pojo.Class">
    insert into `Class` (classId, className, classTeacher,
      classPeople, classweek, startTime, 
      classHours, classCredit, classAddress, 
      image)
    values (#{classid,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}, #{classteacher,jdbcType=VARCHAR}, 
      #{classpeople,jdbcType=INTEGER}, #{classweek,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, 
      #{classhours,jdbcType=VARCHAR}, #{classcredit,jdbcType=INTEGER}, #{classaddress,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR})
  </insert>

</mapper>