<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuc.zxxk.mapper.selectClassMapper">
  <resultMap id="BaseResultMap" type="com.nuc.zxxk.pojo.selectClass">
    <result column="classId" jdbcType="VARCHAR" property="classid" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
  </resultMap>
  <insert id="insert" parameterType="com.nuc.zxxk.pojo.selectClass">
    insert into `selectClass` (classId, userId)
    values (#{classId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
  </insert>
  <select id="countSelectClass" resultType="int" parameterType="String">
    select count(*) from `selectClass` where userId=#{userId}
  </select>
  <select id="countSelectClassByClassId" resultType="int" parameterType="String">
    select count(*) from `selectClass` where classId=#{classId}
  </select>
  <select id="findAllSelectClassByUserId" parameterType="String" resultType="com.nuc.zxxk.pojo.Class">
    select * from `Class` c,`selectClass` s where s.userId=#{userId} and c.classId=s.classId
  </select>

</mapper>