<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuc.zxxk.mapper.studentMapper">
  <resultMap id="BaseResultMap" type="com.nuc.zxxk.pojo.student">
    <id column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="s_class" jdbcType="VARCHAR" property="sClass" />
    <result column="startYear" jdbcType="VARCHAR" property="startyear" />
    <result column="endYear" jdbcType="VARCHAR" property="endyear" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
  </resultMap>
  <select id="selectUserStudent" parameterType="java.lang.String" resultType="com.nuc.zxxk.pojo.UserStudent">
     select * from `user` u,`zxxk_student` s where u.userId=s.userId and s.userId=#{userId}
  </select>
</mapper>