<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuc.zxxk.mapper.studentMapper">
  <resultMap id="BaseResultMap" type="com.nuc.zxxk.pojo.student">
    <id column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="s_class" jdbcType="VARCHAR" property="sClass" />
    <result column="startYear" jdbcType="VARCHAR" property="startyear" />
    <result column="endYear" jdbcType="VARCHAR" property="endyear" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, userName, grade, s_class, startYear, endYear, dept
  </sql>
  <select id="selectUserStudent" parameterType="java.lang.String" resultType="com.nuc.zxxk.pojo.UserStudent">
     select * from `user` u,`zxxk_student` s where u.userId=s.userId and s.userId=#{userId}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `zxxk_student`
    where userId = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zxxk_student
    where userId = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nuc.zxxk.pojo.student">
    insert into zxxk_student (userId, userName, grade, 
      s_class, startYear, endYear, 
      dept)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{sClass,jdbcType=VARCHAR}, #{startyear,jdbcType=VARCHAR}, #{endyear,jdbcType=VARCHAR}, 
      #{dept,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nuc.zxxk.pojo.student">
    insert into zxxk_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="sClass != null">
        s_class,
      </if>
      <if test="startyear != null">
        startYear,
      </if>
      <if test="endyear != null">
        endYear,
      </if>
      <if test="dept != null">
        dept,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="sClass != null">
        #{sClass,jdbcType=VARCHAR},
      </if>
      <if test="startyear != null">
        #{startyear,jdbcType=VARCHAR},
      </if>
      <if test="endyear != null">
        #{endyear,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nuc.zxxk.pojo.student">
    update zxxk_student
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="sClass != null">
        s_class = #{sClass,jdbcType=VARCHAR},
      </if>
      <if test="startyear != null">
        startYear = #{startyear,jdbcType=VARCHAR},
      </if>
      <if test="endyear != null">
        endYear = #{endyear,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nuc.zxxk.pojo.student">
    update zxxk_student
    set userName = #{username,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      s_class = #{sClass,jdbcType=VARCHAR},
      startYear = #{startyear,jdbcType=VARCHAR},
      endYear = #{endyear,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>